          <div class="footer">
            <div class="contact">
              <p>
                {{ site.name }}<br />
                {{ site.job }}<br />
                {{ site.email }}
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a><br />
                <a href="https://twitter.com/{{ site.twitter_username }}">twitter.com/{{ site.twitter_username }}</a><br />
              </p>
            </div>
          </div>
