    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/index.html"><i class="fa fa-home"> Home</i></a>
            <a class="blog-nav-item" href="/archives.html"><i class="fa fa-archive"> Archives</i></a>
            <a class="blog-nav-item" href="/about-me.html"><i class="fa fa-linux"> About me</i></a>
            <a class="blog-nav-item" href="/cv/curriculum-app.html"><i class="fa fa-folder"> cv</i></a>
            <a class="blog-nav-item" href="/rss.xml"><i class="fa fa-rss-square"></i></a>
        </nav>
      </div>
    </div>
