<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="{{ site.baseUrl }}">{{ site.name }}</a></h1>
            <a class="extra" href="{{ site.baseUrl }}">home</a>
            <a class="extra" href="/blog/archives">archives</a>
          </div>

          <div class="content" style="margin:10">
              {{ content }}
          </div>
          <br />

          <div class="posts">
              <h1 class="title">Latest posts</h1>
              {% for post in site.posts limit: 5 %}
              <div class="post_info">
	          <a href="{{ post.url }}">{{ post.title }}</a>
	          <span>({{ post.date | date:"%Y-%m-%d" }})</span>
                  <div>
                      <em> {{ post.excerpt }} </em>
                  </div>
              </div>
              <br />
              {% endfor %}
          </div>

          <!-- <div class="archives">
          <h1 class="title">Archives</h1>
          {% for post in site.posts %}
          <div class="post_info">
          <a href="{{ post.url }}" title="{{ post.title }}">
          <span class="title">{{ post.title }}</span>
          <span>
          <span>{{ post.date | date: '%d' }}</span>
          <span><abbr>{{ post.date | date: '%b' }}</abbr></span>
          <span>{{ post.date | date: '%Y' }}</span>
          </span>
          </a>
          </div>
          {% endfor %}
          </div> -->

          <div class="footer">
            <div class="contact">
              <p>
                {{ site.name }}<br />
                {{ site.job }}<br />
                {{ site.email }}
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a><br />
                <a href="https://twitter.com/{{ site.twitter_username }}">twitter.com/{{ site.twitter_username }}</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
