<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="posts">
              Latest posts: <br />

              {% for post in site.posts limit: 5 %}
              <div class="post_info">
                  <li>
	              <a href="{{ post.url }}">{{ post.title }}</a>
	              <span>({{ post.date | date:"%Y-%m-%d" }})</span>
                  </li>
                  <br />
                  <em> {{ post.excerpt }} </em>
              </div>
              {% endfor %}
          </div>

          <div class="footer">
            <div class="contact">
              <p>
                {{ site.name }}<br />
                {{ site.job }}<br />
                {{ site.email }}
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a><br />
                <a href="https://twitter.com/{{ site.twitter_username }}">twitter.com/{{ site.twitter_username }}</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
